<!DOCTYPE html>
<html lang="en">
<!-- ejs template for index.html, see http://www.embeddedjs.com/ and https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>Thinkope</title>
</head>
<body>
<div id="app"></div>
</body>
</html>
